<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width",initial-scale=1.0">
    <title>Login Form in HTML and CSS l Codehal</title>
    <link rel="stylesheet" href="main.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>

<body>

    <nav class="sidebar">
        <div class="logo-menu">
            <h2 class="logo">Codehal</h2>
            <i class='bx bx-menu toggle-btn'></i>
        </div>

        <u1 class="list">
            <li class="list-item active">
                <a href="#">
                    <i class='bx bxs-user-circle'></i>
                    <span class="link-name" style="--i:1;">User</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bxl-shopify'></i>
                    <span class="link-name" style="--i:2;">product</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bx-color'></i>
                    <span class="link-name" style="--i:3;">random wheel</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bx-package'></i>
                    <span class="link-name" style="--i:4;">random box</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bx-wallet'></i>
                    <span class="link-name" style="--i:5;">Top up</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bx-cube-alt'></i>
                    <span class="link-name" style="--i:6;">Inventory</span>
                </a>
            </li>
            <li class="list-item">
                <a href="#">
                    <i class='bx bx-log-out'></i>
                    <span class="link-name" style="--i:7;">Log out</span>
                </a>
            </li>
        </u1>
    </nav>


    <script src="main.js"></script>
</body>

</html>